.App{
  width: 350px;
  height: 681px;
  background-color:#f8eaff;
  background-image: url('image/iphone.png');
  background-repeat: no-repeat;
  background-size: 350px 681px;
  border-radius: 50px;
  padding-top: 70px;
  padding-left: 60px;
  padding-right: 55px;
  padding-bottom: 60px;
  box-sizing: border-box;
  display:  flex;
  flex-direction: column;
}

.App .top{
  align-items: start;
}

.App Form{
 margin-top: auto;
}